.card {
  position: relative;

  width: 208px;

  background: #ffffff;

  border: 1px solid #DCDADF;
  border-radius: 3px;
}

.card__image {
  position: relative;

  width: 206px;
  height: 143px;
}

.card__rating {
  position: absolute;
  bottom: 10px;
  left: 15px;

  padding-left: 20px;

  font-size: 16px;
  line-height: 21px;

  color: #ffffff;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 14px;
    height: 17px;

    background-image: url(../img/icon-rating.svg);
  }
}

.card__wrapper {
  padding: 11px 16px 24px;
}

.card__text {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;

  color: #222222;

  &--bolded {
    font-weight: 700;
  }

  & span {
    font-weight: 700;
  }

  & a {
    color: #222222;
    text-decoration: underline;
  }
}

.card__button {
  margin-top: 20px;
  padding: 8px;

  width: 100%;

  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

}
