.catalog {
  background-color: #BED7C1;
}

.catalog__list {
  @include reset-list;

  display: flex;
  flex-direction: row;
}

.catalog__category {
  width: 256px;

  margin-right: 32px;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.catalog__sublist {
  @include reset-list;
}
