.journal {
  margin-bottom: 56px;
  padding-top: 20px;

  width: 100%;
}

.journal__topline {
  margin-bottom: 4px;
}

.journal__columns {
  display: flex;
  flex-direction: row;
}

.journal__wrapper {
  margin-right: 32px;
  width: 832px;

  & .journal__list {
    justify-content: space-between;
    flex-wrap: wrap;

    margin-bottom: 0;
  }

  & .journal__item {
    margin-right: 0;
    margin-bottom: 32px;
  }

  & .journal__item--small {
    margin-bottom: 24px;
  }
}

.journal__tabs {
  margin-bottom: 23px;
}

.journal__list {
  @include reset-list;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  margin-bottom: 22px;
}

.journal__item {
  position: relative;
  flex-shrink: 0;

  margin: 0;
  margin-right: 32px;
  padding: 0;

  box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
  border-radius: 3px;

  &:last-child {
    margin-right: 0;
  }

  & .journal__image {
    width: 256px;
    height: 200px;
  }

  & a {
    color: $default-color;
  }
}

.journal__items {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}

.journal__container {
  display: flex;
  flex-direction: column;

  padding: 24px;

  width: 256px;
  min-height: 224px;

  background-color: #ffffff;

  border-radius: 3px;
}

.journal__image {
  display: block;

  margin: 0;
  padding: 0;
}

.journal__tag {
  margin: 0;
  margin-top: 2px;
  margin-bottom: 13px;
  padding: 0;

  font-size: 11px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;

  color: #565656;
}

.journal__name {
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.journal__bottom {
  display: flex;
  justify-content: space-between;

  margin-top: auto;
  margin-bottom: 2px;
}

.journal__date {
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 17px;
}

.journal__comments {
  position: relative;

  margin: 0;
  padding: 0;

  font-size: 10px;
  line-height: 11px;
  color: #565656;

  &::before {
    content: "";

    position: absolute;
    top: -5px;
    left: -4px;

    width: 24px;
    height: 24px;

    background-image: url("../img/icon-comments.svg");
  }
}

.journal__item--wide {
  width: 544px;

  & .journal__image {
    width: 288px;
    height: 224px;
  }

  & .journal__container {
    position: absolute;
    bottom: 0;
    right: 0;

    z-index: 2;
  }
}

.journal__item--small {
  margin-bottom: 24px;

  & .journal__container {
    min-height: 200px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.journal__item--big {
  & .journal__image {
    width: 544px;
    height: 424px;
  }
}

.journal__more {
  margin-right: 40px;
}

.journal__more::after {
  width: 5px;
  height: 2px;

  transform: rotate(90deg);
}

.journal__hashtags {
  @include reset-list;
  margin-bottom: 24px;

  display: flex;
  flex-direction: row;

  font-size: 13px;
  line-height: 17px;
}

.journal__hashtag {
  margin-right: 10px;
}

.journal__hashtag-link {
  display: block;

  padding: 10px 15px;

  background-color: #f8f7fc;
  color: $default-color;

  border-radius: 3px;

  &:focus,
  &:hover {
    background-color: $default-color;
    color: #ffffff;
  }
}

.journal__popular {
  margin-top: 45px;
  margin-bottom: 24px;
  width: 256px;

  box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
  border-radius: 3px;

  background-color: #ffffff;
}

.journal__popular-title {
  margin: 0;
  padding: 10px 24px;

  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: #bed7c1;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.journal__popular-list {
  @include reset-list;
}

.journal__popular-item {
  position: relative;

  & a {
    color: $default-color;
  }

  &::after {
    content: "";

    position: absolute;
    left: 24px;
    bottom: 0;

    width: 208px;
    height: 1px;

    background-color: #999999;
  }

  &:last-child::after {
    display: none;
  }
}

.journal__popular-container {
  min-height: 200px;
}

.journal__adv {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 24px;

  width: 256px;
  height: 400px;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #565656;

  background-color: #f8f7fc;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &:last-child {
    margin-bottom: 0;
  }
}

.inner-page .journal {
  margin-bottom: 0;
  padding-top: 0;
}
