.page-header {
  margin-bottom: 24px;

  background-color: #bed7c1;
}

.page-header__container {
  display: flex;
  flex-direction: row;
}

.page-header__logo {
  flex-shrink: 0;

  margin-top: 11px;
  margin-right: 62px;
  margin-bottom: 10px;
}
