.page-footer {
  background-color: #000000;

  color: #ffffff;
}

.page-footer__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.page-footer__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
}
